/**
 * Site header
 */

.wrapper {
  color: #424242;
  @media (prefers-color-scheme: dark) {
    color: $dark-text-color;
  }
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

.site-header {
  min-height: $spacing-unit * 1.865; // Positioning context for the mobile navigation icon
  position: relative;
  flex-direction: column;
  padding-top: 16px;
}

.site-title {
  @include relative-font-size(2.2);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  &,
  &:visited {
    color: $grey-color-dark;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  .nav-trigger {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .page-link {
    color: $grey-color-dark;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
    
    line-height: $base-line-height;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-text-color;
      background-color: $dark-background-color;
    }
    text-align: right;
    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg path {
        fill: $grey-color-dark;
        @media (prefers-color-scheme: dark) {
          fill: $dark-grey-color-dark;
        }
      }
    }
    input ~ .trigger {
      clear: both;
      display: none;
    }
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */

.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
  margin: 0;
  font-size: 16px;


  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 18px;
  }
  h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  h6 {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
    overflow-y: hidden;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
  text-align: "center";
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }
  h3 {
    @include relative-font-size(1.625);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }
  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  table {
    overflow-x: auto;
  }
  th,
  td {
    padding: 12px 15px;
    @include media-query($on-laptop) {
      padding: 8px 6px;
    }
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
  }
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
  th:last-child,
  td:last-child {
    padding-right: 0;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  margin-bottom: 60px;
}

.scroll {
  overflow-x: auto;
}